.custom-border-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(15,26,45,1);
  margin: .5px;
  z-index: -1;
  clip-path: polygon(3% 0%, 100% 0%, 96% 100%, 0% 100%)
}

.custom-yellow-border{
  content: "";
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  margin: 1px;
  background:rgba(15,26,45,1);
  clip-path: polygon(0% 0%, 100% 0%, 97.7% 100%, 0% 100%);
  z-index: -1;
}

.custom-black-gradient{
  content: "";
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  width:10%;
  height: 100%;
  margin: 1px;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}