.custom-border-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(15,26,45,1);
  margin: .5px;
  z-index: -1;
  clip-path: polygon(3% 0%, 100% 0%, 96% 100%, 0% 100%)
}

.custom-yellow-border{
  content: "";
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  margin: .5px;
  background:rgba(15,26,45,1);
  clip-path: polygon(0% 0%, 100% 0%, 97.7% 100%, 0% 100%);
  z-index: -1;
}

.custom-black-gradient{
  content: "";
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  width:10%;
  height: 100%;
  margin: 1px;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/* 765px to 1005px: Small tablets */
@media (min-width: 765px) and (max-width: 1005px) {
  .responsive-top {
    top: -8.3%;
  }
}

/* 1006px to 1235px: Medium screens */
@media (min-width: 1006px) and (max-width: 1235px) {
  .responsive-top {
    top: -11%;
  }
}

/* 1236px to 1279px: Medium-large screens */
@media (min-width: 1236px) and (max-width: 1279px) {
  .responsive-top {
    top: -11.3%;
  }
}

/* 1280px to 1569px: Large screens */
@media (min-width: 1280px) and (max-width: 1569px) {
  .responsive-top {
    top: -13%;
  }
}

/* 1570px and above: Extra large screens */
@media (min-width: 1570px) {
  .responsive-top {
    top: -11.15%;
  }
}
